//Colors
$primary-color: #FB8500; //hover links, buttons
$primary-accent-color: #FFB703; //links, buttons
$secondary-color: #023047; // headings
$secondary-accent-color: #219EBC; // specials, focus
$common:#8ECAE6; // use this everywhere 
$light-color: rgb(240, 240, 240); // light background
$dark-color: rgb(25, 25, 25); // simple texts

//primary color
$flush-orange-50: #fffbec;
$flush-orange-100: #fff5d3;
$flush-orange-200: #ffe8a5;
$flush-orange-300: #ffd56d;
$flush-orange-400: #ffb732;
$flush-orange-500: #ff9f0a;
$flush-orange-600: #fb8500;
$flush-orange-700: #cc6302;
$flush-orange-800: #a14c0b;
$flush-orange-900: #82400c;

//primary accent colour
$selective-yellow-50: #fffeea;
$selective-yellow-100: #fff9c5;
$selective-yellow-200: #fff485;
$selective-yellow-300: #ffe746;
$selective-yellow-400: #ffd71b;
$selective-yellow-500: #ffb703;
$selective-yellow-600: #e28b00;
$selective-yellow-700: #bb6202;
$selective-yellow-800: #984b08;
$selective-yellow-900: #7c3e0b;

//secondary color
$green-vogue-50: #effaff;
$green-vogue-100: #ddf4ff;
$green-vogue-200: #b4ebff;
$green-vogue-300: #72dcff;
$green-vogue-400: #27cbff;
$green-vogue-500: #00b5fc;
$green-vogue-600: #0091d8;
$green-vogue-700: #0073af;
$green-vogue-800: #006190;
$green-vogue-900: #023047;

//secondary accent colors
$eastern-blue-50: #eefbfd;
$eastern-blue-100: #d5f3f8;
$eastern-blue-200: #b0e7f1;
$eastern-blue-300: #7ad5e6;
$eastern-blue-400: #3cb9d4;
$eastern-blue-500: #219ebc;
$eastern-blue-600: #1e7e9c;
$eastern-blue-700: #1f657f;
$eastern-blue-800: #215569;
$eastern-blue-900: #204659;

//commons
$cornflower-50: #f2f9fd;
$cornflower-100: #e5f1f9;
$cornflower-200: #c5e3f2;
$cornflower-300: #8ecae6;
$cornflower-400: #58b2d8;
$cornflower-500: #3298c5;
$cornflower-600: #237ba6;
$cornflower-700: #1d6187;
$cornflower-800: #1c5370;
$cornflower-900: #1c465e;

