$primary: #e26972; //red
$primary-light: #dd787f; //red
$primary-dark: #e1565f; //red
$secondary: #f6ea98; //yellow
$mainDark: #572c57; //megenta dark
$main: #9f5f91; //megenta
$light: #f5f5f5; //white
$dark: #1b1b1b; //dark
